<h2>Por País</h2>
<hr>
<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar País..."></app-pais-input>
    </div>
</div>
<ul class="list-group" *ngIf="mostrarSugerencias">
    <li class="list-group-item list-group-item-action" *ngFor="let item of paisesSugeridos"><a class="nav-link" [routerLink]="['/pais', item.cca2]">{{item.name.common}}</a></li>
    <li class="list-group-item list-group-item-action" (click)="buscarSugerido(termino)"><a class="nav-link">Buscar {{termino}}</a></li>
</ul>
<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontraron resultados con el término de busqueda {{termino}}.
</div>
<div class="row" *ngIf="!hayError && paises.length > 0">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>